Q1.

(i)

In [1]:
s = "Ariyan Shaw"

In [2]:
s

'Ariyan Shaw'

(ii)

In [3]:
l = [1,2,3,4,5, "Ariyan", "Shaw", 23.5, True]

In [4]:
l

[1, 2, 3, 4, 5, 'Ariyan', 'Shaw', 23.5, True]

(iii)

In [5]:
f = 23.675466

In [6]:
f

23.675466

(iv)

In [9]:
t = ("Cricket", "Football", "Hockey")

In [10]:
t

('Cricket', 'Football', 'Hockey')

Q2.

(i)

In [11]:
var1=''

In [12]:
type (var1)

str

(ii)

In [14]:
var2 = '[ DS , ML , Python]'

In [20]:
type(var2)

str

(iii)

In [21]:
var3 = ['DS','ML','Python']

In [22]:
type(var3)

list

(iv)

In [26]:
var4=1

In [ ]:
type(var4)

Q3.

(i) / is used to find the quotient during a division process. An Example is given below

In [29]:
4/3

1.3333333333333333

(ii) % is used to find the remainder during a division process. An example is given below

In [30]:
4%3

1

(iii) // is also known as floor division. It returns the floor value of the quotient after rounding it off. An example is given below

In [31]:
4//3

1

(iv) ** acts just like "to the power". x**y is equivalent to x^y in python. An example is given below

In [32]:
4**3

64

Q4.

In [36]:
l = [2,3,4,5,6,"ariyan","shaw",23.45,True,False]
for i in l:
    print(i)
    print(type(i))

2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'int'>
6
<class 'int'>
ariyan
<class 'str'>
shaw
<class 'str'>
23.45
<class 'float'>
True
<class 'bool'>
False
<class 'bool'>

Q5.

In [1]:
a = int(input())
b = int(input())
c = a
while (a >= b):
        a -= b
if a==0:
    print("A is purely divisible by number B\n")
else:
    print("A is not purely divisible by number B\n")
print("The number of times A is divisible by B is: ", int(c/b))

 21
 7

A is purely divisible by number B

The number of times A is divisible by B is:  3

Q6.

In [2]:
l = [10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34]
for i in l:
    if i%3 ==0:
        print("The number is divisible by 3")
    else:
        print("The number is not divisible by 3")

The number is not divisible by 3
The number is not divisible by 3
The number is divisible by 3
The number is not divisible by 3
The number is not divisible by 3
The number is divisible by 3
The number is not divisible by 3
The number is not divisible by 3
The number is divisible by 3
The number is not divisible by 3
The number is not divisible by 3
The number is divisible by 3
The number is not divisible by 3
The number is not divisible by 3
The number is divisible by 3
The number is not divisible by 3
The number is not divisible by 3
The number is divisible by 3
The number is not divisible by 3
The number is not divisible by 3
The number is divisible by 3
The number is not divisible by 3
The number is not divisible by 3
The number is divisible by 3
The number is not divisible by 3

Q7.

Mutable data types are those whose values can be changed or new values can be assigned to them. 
In Python, list is a type of mutable data type. It has been demonstrated below with an example

In [3]:
l = [1, 200, 3, 4, 5, 6, 'ariyan', (3+5j), False, 23.67]

In [4]:
l[7] = "Shaw"

In [5]:
l

[1, 200, 3, 4, 5, 6, 'ariyan', 'Shaw', False, 23.67]

Non-mutable data types are those whose values cannot be changed after it is created. 
In case of list, the values could be altered using the index values but in case of String the letters in the position of 
string cannot be changed using index values.

In [6]:
a = 'ariyan'

In [7]:
a[0] = 's'

TypeError: 'str' object does not support item assignment